/* home */

h1 {
    color: #f6991b;
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    font-family: 'Spartan', sans-serif;
    padding-bottom: 20px;
    color: black;
}

.lead {
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    }

.col-lg-6 {
    padding-top: 20%;
    padding-left: 10%;
}

.btn-primary {
    background-color: #41c0cd;
    border-color: #41c0cd;
    font-family: 'Spartan', sans-serif;
}

.btn-outline-primary {
    border-color: #41c0cd;
    color: #41c0cd;
    font-family: 'Spartan', sans-serif;
}

.btn-primary:hover {
    color: #41c0cd;
    background-color: #096d82;
    border-color: #096d82;
}

.btn-outline-primary:hover {
    color: #41c0cd;
    background-color: #096d82;
    border-color: #096d82;
}

.personal-logo {
    width: 50px;
    height: 50px;
}

.container-bg {
    height: 100vh;
}

.fullscreen-bg_video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100%; 
    z-index: -100;
    background-size: cover;
}



/* header en algemeen */

body {
    background-color: #f2f2f2;
}

/* body {
    background-image: url("/content/maze-white.png");
} */

.navbar {
    background-color: #ffffff;
}

.nav-link {
    font-family: 'Spartan', sans-serif;
}

.bordertop {
    border-top: 2px solid #dfdfdf;
}

.resume{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
    color: #41c0cd;
}

a.download {
    color: black;
    font-family: 'Spartan', sans-serif, bold;
    font-weight: 600;
}



/* footer */

footer {
    background-color: white;
   color: black;
}

.borderbottom {
    border-bottom: 2px solid #dfdfdf;
}

#social {
    font-family: 'Permanent Marker', cursive;
    padding-top: 20px;
}

.row-one {
    padding-top: 10px;
    padding-bottom: 20px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.row-two {
    padding-bottom: 10px;
}

a.copyright {
    color: black;
    font-family: 'Questrial', sans-serif;
}



/* projects */

.col-lg-4 {
    padding-bottom: 40px;
}

.card.card-cascade.narrower .view.view-cascade {
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
}

.card.card-cascade .view.view-cascade {
    border-radius: 0rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.card-img-top {
    border-radius: 0rem;
}

.card {
    background-color: white;
    border: 0px;
    border-radius: 0rem;

}

a.title {
    color: black;
    font-family: 'Questrial', sans-serif;
}

.card-text {
    height: 50px;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    top: -8px;
    color: #f4d0a4;
    background-color: #f6991b;
}

a.title:hover {
    color: #e57200;
}

a.read {
    font-family: 'Balsamiq Sans', cursive;
    font-size: xx-large;
    float: right;
    color: #41c0cd;
}

a.read:hover {
    color: #096d82;
}

/* h2 {
    padding-top: 25px;
    padding-bottom: 45px;
} */

.generalinfo {
    background-color: white;
    font-family: 'Questrial', sans-serif;
    margin-bottom: 30px;
    padding-top: 10px;
}

h6 {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

figcaption {
    font-family: 'Questrial', sans-serif;
    font-size: small;
    font-weight: 600;
    text-align: center;
}

.col-12 {
    font-family: 'Spartan', sans-serif;
}

.work {
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 30px;
}

.all {
    padding-top: 12px;
    color: #41c0cd;
}

a.all:hover {
    color: #096d82;
}

.more {
    margin-top: 50px;
}



/* Kaantje boord */

.kaantjefoto1 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kaantjefoto2 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kaantjefoto3 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kaantjefoto4 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kaantjefoto5 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kaantjefoto6 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kaantjefoto7 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kaantjefoto8 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* NRC */

.NRCfoto1 img {
    width: 50%;
    position: relative;
    float: right;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.NRCfoto2 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.NRCfoto3 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.NRCfoto4 img {
    width: 100%;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 75%;
    height: 460px;
    position: relative;
    margin-left: 12.5%;
}

.NRCfoto6 img {
    width: 100%;
}



/* Introweek */

.Introweekfoto1 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Introweekfoto2 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Introweekfoto3 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Bon ku ne */

.Bonkunefoto1 img {
    width: 50%;
    position: relative;
    float: right;
    margin-left: 30px;
}

.Bonkunefoto2 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Bonkunefoto3 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Bonkunefoto4 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: large;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    color: black;
}

/* articles */

.card1:hover {
    background-color: #41c0cd;
}

.artic {
    font-family: 'Questrial', sans-serif;
    color: black;
}

.artic:hover {
    font-family: 'Questrial', sans-serif;
    color: #096d82;
}

.continue {
    font-family: 'Spartan', sans-serif;
    float: right;
    color: #f6991b;
}

.continue:hover {
    color: #e57200;
}

.new h1 {
    color: #41c0cd;
}

.back {
    color: #41c0cd;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    font-size: larger;
}

.back:hover {
    color: #096d82;
}

.more-articles {
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 30px;
}

.all-articles {
    padding-top: 12px;
    color: #f6991b;
}

.all-articles:hover {
    color: #e57200;
}

/* data cells */

.datacellfoto1 img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}

.datacellfoto2 img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}

.datacellfoto3 img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}

.datacellfoto4 img {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12.5%;
}

.datacellfoto5 img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    font-family: 'Spartan', sans-serif;
}
